// App identity
BUNDLE_DISPLAY_NAME = Element Fork
BASE_BUNDLE_IDENTIFIER = org.digital.matrix
APPLICATION_GROUP_IDENTIFIER = group.org.digital.matrix
APPLICATION_SCHEME = element-fork

// Team
DEVELOPMENT_TEAM = 57VK44QF69

// Provisioning profiles
RIOT_PROVISIONING_PROFILE_SPECIFIER = ElementFork AppStore Distribution
RIOT_PROVISIONING_PROFILE =

NSE_PROVISIONING_PROFILE_SPECIFIER = ElementFork NSE AppStore Distribution
NSE_PROVISIONING_PROFILE =

SHARE_EXTENSION_PROVISIONING_PROFILE_SPECIFIER = ElementFork Share AppStore Distribution
SHARE_EXTENSION_PROVISIONING_PROFILE =

SIRI_INTENTS_PROVISIONING_PROFILE_SPECIFIER =
SIRI_INTENTS_PROVISIONING_PROFILE =

BROADCAST_UPLOAD_EXTENSION_PROVISIONING_PROFILE_SPECIFIER = ElementFork Broadcast AppStore Distribution
BROADCAST_UPLOAD_EXTENSION_PROVISIONING_PROFILE =
